<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./style/style.css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <script
      src="https://kit.fontawesome.com/4f572bc49d.js"
      crossorigin="anonymous"
    ></script>
    <title>Mothers Secret</title>
  </head>
  <body class="body">
    <div class="wrapper flex flex-col overflow-hidden max-h-screen relative">
      <div
        class="crew-member absolute top-10 left-50% bg-black px-3 py-1 rounded text-xl font-bold text-center whitespace-nowrap w-[8.6rem]"
        style="z-index: 100"
      >
        Crew Member
      </div>
      <div
        class="overflow-hidden w-full h-full bg-[#ab964d] z-10 p-2 dots-container"
      ></div>
    </div>
    <script src="https://cdn.socket.io/4.4.1/socket.io.min.js"></script>
    <script src="./index.min.js"></script>
  </body>
</html>
